div.chess-board.theme-green {
  background-color: #FFFAF0;
}

div.chess-board.theme-green td.grid-number,
div.chess-board.theme-green td.grid-letter {
  color: #008000;
}

div.chess-board.theme-green td.board-square {
  border-color: #008000;
}

div.chess-board.theme-green td.board-square.dark {
  background-color: #008000;
}

div.chess-board.theme-green td.board-square.light {
  /*background-color: #FFFAF0;*/
}
