div.chess-board {
  position: relative;
  background-color: #fff;
}

div.chess-board table {
  border-collapse: collapse;
}

div.chess-board table, td {
  box-sizing: border-box;
}

div.chess-board td.grid-number,
div.chess-board td.grid-letter {
  text-align: center;
  color: #aaa;
}

div.chess-board td.grid-empty {
  /* */
}

div.chess-board td.board-square {
  text-align: center;
  border: 0.15em solid #aaa;
}

div.chess-board td.dark-square {
  background-color: #aaa;
}

div.chess-board td.light-square {
  /*background-color: #f5f5dc;*/
}

div.chess-board td.board-square.dark-square.highlight {
  background-color: #B0C4DE;
}

div.chess-board td.board-square.light-square.highlight {
  background-color: #FFFFE0;
}
