div.chess-board.theme-tournament {
  background-color: #FFFFF0;
}

div.chess-board.theme-tournament td.grid-number,
div.chess-board.theme-tournament td.grid-letter {
  color: #008000;
}

div.chess-board.theme-tournament td.board-square {
  border: 0.15em solid #008000;
}

div.chess-board.theme-tournament td.dark-square {
  background-color: #008000;
}

div.chess-board.theme-tournament td.light-square {
  /*background-color: #FFFAF0;*/
}

div.chess-board.theme-tournament td.board-square.dark-square.highlight {
  background-color: #3CB371;
}

div.chess-board.theme-tournament td.board-square.light-square.highlight {
  background-color: #F0E68C;
}
