div.chess-board {
  position: relative;
  background-color: #fff;
}

div.chess-board table {
  border-collapse: collapse;
}

div.chess-board table, td {
  box-sizing: border-box;
}

div.chess-board td.grid-number,
div.chess-board td.grid-letter {
  text-align: center;
  color: #ccc;
}

div.chess-board td.grid-empty {
  /* */
}

div.chess-board td.board-square {
  text-align: center;
  padding: 0;
  margin: 0;
}

div.chess-board.large td.board-square  {
  border: 2px solid #ccc;
  position: relative;
}

div.chess-board.small td.board-square  {
  border: 0;
}

div.chess-board td.dark-square {
  background-color: #ccc;
}

div.chess-board td.light-square {
  /*background-color: #f5f5dc;*/
}

div.chess-board td.board-square.dark-square.active {
  background-color: #ee0;
}

div.chess-board td.board-square.light-square.active {
  background-color: #ff0;
}

div.chess-board td.board-square.dark-square.highlight {
  background-color: #eeb;
}

div.chess-board td.board-square.light-square.highlight {
  background-color: #ffc;
}

div.chess-board .chess-block-hit {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 0;
  padding: 0;
  /*background-color: rgba(255, 0, 0, 0.1);*/
  background-color: transparent;
}
